.jumbotron {
	background-color: Beige;
	background-size: cover;
	height: 510px;
	margin-top: -90px;
}
.jumbotron .display-4 {
	color: Black;
	text-align: center;
	text-shadow: 1px 1px 1px #696969;
	font-size: 35pt;
	font-family: Arial, Sans-serif;
	margin-top: 210px;
}
.navbar-brand {
	font-size: 18pt;
}

body {
	background-color: Beige;
}

footer {
    background-color: black;
    color: white;
    font-family: 'EB Garamond';
    padding: 30px 30px 30px 100px;
    margin-top: 150px;
}
h2 {
    font-size: 30px;
    font-family: 'Lora';
    margin-bottom: 20px;
}